<a href="https://colab.research.google.com/github/roshanc003/Github_CourseEra/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Science Tools and Ecosystem

In [2]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

In [4]:
#Some of the popular languages that Data Scientists use are:

#1. Python
#2. R
#3. SQL
#4. Julia
#5. Scala

In [5]:
languages = [
    'Python',
    'R',
    'SQL',
    'Julia',
    'Scala'
]

In [7]:
import nbformat as nbf

try:
    with open('DataScienceEcosystem.ipynb') as f:
        nb = nbf.read(f, as_version=4)
except FileNotFoundError:
    nb = nbf.v4.new_notebook()


libraries = [
    'Pandas',
    'NumPy',
    'Matplotlib',
    'Scikit-learn',
    'TensorFlow',
    'Keras'
]

libraries_markdown = 'Some of the commonly used libraries used by Data Scientists include:\n\n'
libraries_markdown += '\n'.join(f'{i+1}. {library}' for i, library in enumerate(libraries))
libraries_cell = nbf.v4.new_markdown_cell(libraries_markdown)


nb.cells.append(libraries_cell)

with open('DataScienceEcosystem.ipynb', 'w') as f:
    nbf.write(nb, f)

In [8]:
import nbformat as nbf

# Load the existing notebook or create a new one
try:
    with open('DataScienceEcosystem.ipynb') as f:
        nb = nbf.read(f, as_version=4)
except FileNotFoundError:
    nb = nbf.v4.new_notebook()

# Create a markdown cell with the table of Data Science tools
tools_markdown = '''| Data Science Tools      |
|-------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |
'''

tools_cell = nbf.v4.new_markdown_cell(tools_markdown)

# Add the markdown cell to the notebook
nb.cells.append(tools_cell)

# Write the notebook to a file
with open('DataScienceEcosystem.ipynb', 'w') as f:
    nbf.write(nb, f)

In [9]:
# Function to evaluate an arithmetic expression
def evaluate_expression(expression):
    try:
        result = eval(expression)
        return result
    except Exception as e:
        return f"Error: {e}"

# Example usage
expression = "5 + 3 * (2 - 1) / 2 ** 2"
result = evaluate_expression(expression)
print(f"The result of the expression '{expression}' is: {result}")

The result of the expression '5 + 3 * (2 - 1) / 2 ** 2' is: 5.75

In [10]:
import nbformat as nbf

# Create a new notebook
nb = nbf.v4.new_notebook()

# Code cell for multiplying and adding numbers
code = 'result = (3 * 4) + 5\nresult'
code_cell = nbf.v4.new_code_cell(code)

# Add the cell to the notebook
nb.cells.append(code_cell)

# Write the notebook to a file
with open('MultiplyAddExample.ipynb', 'w') as f:
    nbf.write(nb, f)

In [11]:
import nbformat as nbf

# Create a new notebook
nb = nbf.v4.new_notebook()

# Code cell for converting minutes to hours
code = '''
# Function to convert minutes to hours
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example usage
minutes = 150
hours = minutes_to_hours(minutes)
hours
'''
code_cell = nbf.v4.new_code_cell(code)

# Add the cell to the notebook
nb.cells.append(code_cell)

# Write the notebook to a file
with open('MinutesToHoursExample.ipynb', 'w') as f:
    nbf.write(nb, f)

In [12]:
# Define an unordered list of programming languages
unordered_list = ['Python', 'R', 'SQL', 'Julia', 'Scala']

# Print the original list
print("Original List:")
print(unordered_list)

# Add a new language
unordered_list.append('Java')

# Insert a language at a specific position
unordered_list.insert(2, 'MATLAB')

# Remove a language
unordered_list.remove('R')

# Print the updated list
print("\nUpdated List:")
print(unordered_list)

# Iterate and print each language
print("\nList of Languages:")
for language in unordered_list:
    print(language)

Original List:
['Python', 'R', 'SQL', 'Julia', 'Scala']

Updated List:
['Python', 'MATLAB', 'SQL', 'Julia', 'Scala', 'Java']

List of Languages:
Python
MATLAB
SQL
Julia
Scala
Java

In [13]:
# Print the user's name
def print_name():
    name = "Roshan C"
    print(f"My name is {name}")

# Call the function to display the name
print_name()

My name is Roshan C